<div class="row pt20">
    <div class="span5 pt5">
        <div class="media">
            <a class="pull-left" href="#">
                <img width="150" class="img-polaroid" src="${APP.getUserPhoto($user)}" alt="" />
            </a>
            <div class="media-body">
                <h5 class="media-heading pl5">${user.name}</h5>
                <table class="table table-condensed borderless">
                    #if($user.location)
                    <tr>
                        <td class="strong" style="width: 60px;">Vietovė</td>
                        <td>${user.location}</td>
                    </tr>
                    #end
                    #if($user.gender)
                    <tr>
                        <td class="strong" style="">Lytis</td>
                        <td>
                            #if($user.gender == 'male')Vyras#end
                            #if($user.gender == 'female')Moteris#end
                        </td>
                    </tr>
                    #end
                </table>
                <div>
                    $!{user.description}
                </div>
            </div>
        </div>
    </div>
    <div class="span7">
        #if($items)
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th colspan="2">Vartotojo naujausios įkeltos prekės</th>
                    <th>Kategorija</th>
                </tr>
            </thead>
            <tbody>
                #foreach($item in $items)
                <tr>
                    <td width="50" class="tac">
                        #if($item.mainImage)
                        <a href="javascript:void(0);" class="p5" data-toggle="popover" data-placement="right" id="itemPicture-${item.id}">
                            <span class="icon-picture"></span>
                        </a>
                        <script>
                            $('#itemPicture-${item.id}').popover({
                                trigger : 'hover',
                                placement : 'left',
                                container : 'tr',
                                html : true,
                                content : "<img height=\"100\" src=\"${APP.createUrl($item.mainImage.getImage('150x100'))}\" />"
                            });
                        </script>
                        #else
                        <span class="icon-ban-circle"></span>
                        #end
                    </td>
                    <td>
                        <a href="${APP.createUrl('catalog', 'view', $item.id)}" title="">
                            ${item.title}
                        </a>
                    </td>
                    <td class="tar muted">
                        <div class="mr10">Kaina: <span class="text-success">${item.price} Lt</span></div>
                    </td>
                    <td>
                        <a href="${APP.createUrl('catalog', 'category', $item.category.id)}">${item.category.name}</a>
                    </td>
                </tr>
                #end
            </tbody>
        </table>
        #end
    </div>
</div>