<div class="row pt20">
    <div class="span12">
        <form id="itemCreateForm" action="${APP.createUrl('catalog', 'create')}" class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="control-group">
                <label class="control-label" for="title"><b>Antraštė:</b></label>
                <div class="controls">
                    <input class="span5" type="text" name="title" value="$!{item.title}" id="itemTitle">
                    <span class="span5 fr well well-small m0">
                        Įveskite trumpą ir aiškų prekės pavadinimą. Pavadinimas neturėtų būti ilgesnis nei 50-60 simbolių, bet ne trumpesnis nei 5 simboliai.
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="summary"><b>Aprašymas:</b></label>
                <div class="controls">
                    <textarea class="span5" rows="10" name="description" id="itemDescription">$!{item.description}</textarea>
                    <span class="span5 fr well well-small m0">
                        Įveskite detalų prekės aprašymą. Aprašyme turėtumėte paminėti iš ko padaryta prekė, aprašyti prekės būklę bei pirkimo/pristatymo sąlygas.
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="summary"><b>Kaina</b></label>
                <div class="controls">
                    <input class="span5" type="text" name="price" id="itemPrice" value="$!{item.price}" />
                    <span class="span5 fr well well-small m0">
                        Nustatykite prekės kainą.
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="categories"><b>Kategorija:</b></label>
                <div class="controls">
                    <select name="category" class="span5">
                        #foreach( $category in $categories )
                        <option value="${category.id}">${category.name}</option>
                        #end
                    </select>
                    <span class="span5 fr well well-small m0">
                        Pasirinkite tinkamą jūsų prekei kategoriją.
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="title"><b>Nuotrauka:</b></label>
                <div class="controls">
                    <div class="fileupload fileupload-new span5 m0" data-provides="fileupload">
                    <div class="input-append">
                        <div class="uneditable-input span3">
                            <span class="icon-file fileupload-exists"></span>
                            <span class="fileupload-preview"></span>
                        </div>
                        <span class="btn btn-file">
                            <span class="fileupload-new">Naršyti</span>
                            <span class="fileupload-exists">Keisti</span>
                            <input name="photo" type="file" />
                        </span>
                        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Šalinti</a>
                        </div>
                    </div>
                    <span class="span5 fr well well-small m0">
                        Įkelkite nuotrauką. Ji bus nustatyta kaip paskutinę. Po prekės įkėlimo galėsite pridėti daugiau nuotraukų, pakeisti pagrindinę nuotrauką.
                    </span>
                </div>
            </div>
            <div class="form-actions">
                <input type="hidden" name="submit" value="1" />
                <button type="submit" class="btn btn-primary btn-small">Saugoti</button>
                <a href="${APP.createUrl('catalog', 'index')}" class="btn btn-inverse btn-small">Atšaukti</a>
            </div>
        </form>
    </div>
    #*
    <div class="span4">
        <div class="well taj">
            <h4>Informacija</h4>
            <p>Įveskite trumpą ir aiškų prekės pavadinimą. Pavadinimas neturėtų būti ilgesnis nei 50-60 simbolių.</p>
            <p>Įveskite detalų prekės aprašymą. Aprašyme turėtumėte paminėti iš ko padaryta prekė, aprašyti prekės būklę bei pirkimo/pristatymo sąlygas.</p>
        </div>
    </div>
    *#
</div>
<script>
    $('#itemCreateForm').on('submit', function(event){
//        event.preventDefault();
        var stat = true;
        if($('#itemTitle').val() == '') {
            stat = false;
            $('#itemTitle').closest('.control-group').addClass('error');
        }
        if(!$('#itemDescription').val()) {
            stat = false;
            $('#itemDescription').closest('.control-group').addClass('error');
        }
        if(!$('#itemPrice').val()) {
            stat = false;
            $('#itemPrice').closest('.control-group').addClass('error');
        }
        return stat;
    });
    $('#itemTitle, #itemDescription, #itemPrice').on('focus', function(event){
        $(this).closest('.control-group').removeClass('error');
    });
</script>