<div class="thumbnails">
    #foreach( $item in $items )
    <div class="span2" style="height: 200px;">
        <div class="">
            <a class="thumbnail" href="${APP.createUrl('catalog', 'view', $item.id)}">
                #if($item.mainImage)
                <img width="161" height="108" class="media-object img" src="${APP.createUrl($item.mainImage.getImage('300x200'))}" style="">
                #else
                <img width="" class="media-object noPhoto size161x108" src="${APP.createUrl('/public/img/1x1.png')}" style="">
                #end
                <div class="ml5 mt5 inline fs13">${item.title}</div>
                <hr class="mt5 mb0" />
                <div class="tar">
                    <div class="inline mr5 fs12 muted">
                        Kaina: <span class="text-success">${item.price} Lt</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    #end
</div>