<table class="table table-striped table-hover">
    #foreach( $item in $items )
    <tr>
        <td width="50" class="tac">
            #if($item.mainImage)
            <a href="javascript:void(0);" class="p5" data-toggle="popover" data-placement="right" id="itemPicture-${item.id}">
                <span class="icon-picture"></span>
            </a>
            <script>
                $('#itemPicture-${item.id}').popover({
                    trigger : 'hover',
                    container : 'tr',
                    html : true,
                    content : "<img height=\"100\" src=\"${APP.createUrl($item.mainImage.getImage('150x100'))}\" />"
                });
            </script>
            #else
            <span class="icon-ban-circle"></span>
            #end
        </td>
        <td>
            <a class="" href="${APP.createUrl('catalog', 'view', $item.id)}">
                ${item.title}
            </a>
        </td>
        <td class="tar muted">
            Kaina: <span class="text-success">${item.price} Lt</span>
        </td>
    </tr>
    #end
</table>